WinFormsMainClient/Connected Services/VendingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_GetHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHtml" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetDrinks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrinks" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetDrinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrinksResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetDrinks_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDrinks" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetDrinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDrinksResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_DeleteDrinks_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrinks" />
  </wsdl:message>
  <wsdl:message name="IMainService_DeleteDrinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDrinksResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetCash_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCash" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetCash_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCashResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ResetMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetMachine" />
  </wsdl:message>
  <wsdl:message name="IMainService_ResetMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetVendingObj_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendingObj" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetVendingObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendingObjResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SellDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:SellDrink" />
  </wsdl:message>
  <wsdl:message name="IMainService_SellDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellDrinkResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AddDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDrink" />
  </wsdl:message>
  <wsdl:message name="IMainService_AddDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDrinkResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="GetHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetHtml" message="tns:IMainService_GetHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetHtmlResponse" message="tns:IMainService_GetHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetDrinks" message="tns:IMainService_GetDrinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetDrinksResponse" message="tns:IMainService_GetDrinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDrinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SetDrinks" message="tns:IMainService_SetDrinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SetDrinksResponse" message="tns:IMainService_SetDrinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDrinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/DeleteDrinks" message="tns:IMainService_DeleteDrinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DeleteDrinksResponse" message="tns:IMainService_DeleteDrinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCash">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SetCash" message="tns:IMainService_SetCash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SetCashResponse" message="tns:IMainService_SetCash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ResetMachine" message="tns:IMainService_ResetMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ResetMachineResponse" message="tns:IMainService_ResetMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendingObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetVendingObj" message="tns:IMainService_GetVendingObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetVendingObjResponse" message="tns:IMainService_GetVendingObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetStatus" message="tns:IMainService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetStatusResponse" message="tns:IMainService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SellDrink" message="tns:IMainService_SellDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SellDrinkResponse" message="tns:IMainService_SellDrink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AddDrink" message="tns:IMainService_AddDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AddDrinkResponse" message="tns:IMainService_AddDrink_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHtml">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrinks">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetDrinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDrinks">
      <soap:operation soapAction="http://tempuri.org/IMainService/SetDrinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDrinks">
      <soap:operation soapAction="http://tempuri.org/IMainService/DeleteDrinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCash">
      <soap:operation soapAction="http://tempuri.org/IMainService/SetCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetMachine">
      <soap:operation soapAction="http://tempuri.org/IMainService/ResetMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendingObj">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetVendingObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellDrink">
      <soap:operation soapAction="http://tempuri.org/IMainService/SellDrink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDrink">
      <soap:operation soapAction="http://tempuri.org/IMainService/AddDrink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServiceLibrary/ExampleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>