WinFormsMainClient/Connected Services/VendingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" />
  <xs:element name="GetDrinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" minOccurs="0" name="GetDrinksResult" nillable="true" type="q1:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" minOccurs="0" name="newDrinks" nillable="true" type="q2:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newCash" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMachine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendingObj">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendingObjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" minOccurs="0" name="GetVendingObjResult" nillable="true" type="q3:VendingMachine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drinkName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SellDrinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" minOccurs="0" name="drink" nillable="true" type="q4:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDrinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>