WinFormsMainClient/Connected Services/VendingService/WCFServiceLibrary.DrinkObjs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceLibrary.DrinkObjs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDrink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drink" nillable="true" type="tns:Drink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrink" nillable="true" type="tns:ArrayOfDrink" />
  <xs:complexType name="Drink">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drink" nillable="true" type="tns:Drink" />
  <xs:complexType name="VendingMachine">
    <xs:sequence>
      <xs:element minOccurs="0" name="drinks" nillable="true" type="tns:ArrayOfDrink" />
      <xs:element minOccurs="0" name="operationsMade" type="xs:int" />
      <xs:element minOccurs="0" name="totalAmoun" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendingMachine" nillable="true" type="tns:VendingMachine" />
</xs:schema>